<div id = "playDiv">
  
    <p>Type code of your game </p>

    <p>code: {{code}}</p>
    <input [(ngModel)] = "code" type="number">
    <button (click)="findGame()">Find Game</button>
    <br>
    <button (click)="prev()">Prev</button>
    <button (click)="next()">Next</button>
    
    <!-- <img src="assets/img/chesspieces/wikipedia/bQ.png" (click)= "createGame('./assets/img/chesspieces/wikipedia/{piece}.png')">
    <img src="assets/img/chesspieces/alpha/bQ.png" (click)= "createGame('./assets/img/chesspieces/alpha/{piece}.png')">
    <img src="assets/img/chesspieces/uscf/bQ.png" (click)= "createGame('./assets/img/chesspieces/uscf/{piece}.png')">
    <p> here for testing for now -- some go to console</p>
    <button (click)="add()">Add back DOM</button>
    <button (click)="getMoves()">getMovesSoFar</button>
    <button (click)="delete()">Delete DOM</button>
    <br>
    <p>Colors</p>
    <br>
    <button (click)="color(1)">Classic</button>
    &nbsp;
    <button (click)="color(2)">Pop</button>
    &nbsp;
    <button (click)="color(3)">Reset</button>
    &nbsp;
    <button (click)="color(4)">Royal </button>
    &nbsp;
    <button (click)="color(5)">Vibrant </button>
    &nbsp;
    <button (click)="toggle()">Toggle Highlight</button> -->
    
  
  </div>
  