
    
  
    <div class="mx-auto">
        <div class="panel-heading">
            <span class="label label-default label-center" id="title" >{{title}}</span>
        </div>
        
        <div class="panel-body">
            <div class="list-group">
               
                   <main class="main"  >
                       <h2>First time playing Chess? Already a master?</h2>
                       <p>Forget everything you know about chess! 
                       Here is how to play!
                       </p>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="img-fluid" width="560" height="315" src="https://www.youtube.com/embed/fKxG8KjH1Qg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </main>
               </div>
        </div>
    </div>
   


       

   