

<div class="panel-heading">
  <h2 class="label label-default label-center" id="title" >Best Tips To Winning Chess</h2>
</div>
<div class="panel-body">
  <div class="list-group">

         <main class="main"  >
             <p> <a href="https://www.chesscentral.com/pages/learn-chess-play-better/chess-strategy-for-chess-openings-and-chess-principles.html">Chess Strategy For Chess Openings And Chess Principles</a>
              <br>

                <a href="https://thechessworld.com/articles/middle-game/chess-strategy-for-beginners-complete-guide/">Chess Strategy for Beginners: Complete Guide</a>
                <br>
              
                <a href="https://www.chessable.com/blog/2018/01/19/5-beginner-chess-tips/">5 Essential Chess Tips for Beginners</a>

                <br>
                <a href="https://www.chess.com/blog/Gertsog/top-7-chess-strategy-tips-for-beginners">Top 7 Chess Strategy Tips for Beginners
                </a>

                <br>
                <a href="http://chesshints.com/top-10-chess-tips-beginner/">Top 7 Chess Strategy Tips for Beginners
                </a>

                <br>
                <a href="http://www.chessfornovices.com/chessstrategy101.html">Chess Strategy 101: Getting Started for Beginners  </a>

                <br>
                <a href="https://www.gamesver.com/21-must-know-chess-tips-for-beginners-what-i-wish-i-knew/">21 Must-Know Chess Tips for Beginners (What I Wish I Knew!)</a>

                <br>
                <a href="http://www.expertchessstrategies.com/chess-tips.shtml">Chess Tips
                </a>
                <br>
                <a href="https://www.masterclass.com/articles/8-chess-strategy-tips-from-garry-kasparovs-winning-chess-routine">8 Chess Strategy Tips From Garry Kasparov’s Winning Chess Routine</a>
                <br>
                <a href="https://thechessworld.com/articles/training-techniques/basic-chess-tips/">24 Essential Chess Tricks And Tips That Will Make Your Chess Better
                </a>
                <br>
                <a href="https://www.chesscoachonline.com/5-best-advanced-chess-strategy">
                  5 Best Advanced Chess Strategy</a>
                </p>
          </main>
     </div>
</div>
